@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply m-0 p-0;
  }

  li {
    @apply list-none;
  }

  h1 {
    @apply font-bold text-4xl md:text-5xl;
  }

  h2 {
    @apply font-bold text-3xl md:text-4xl;
  }

  h3 {
    @apply font-bold text-2xl md:text-3xl;
  }

  h4 {
    @apply font-bold text-xl md:text-2xl;
  }

  h5 {
    @apply font-bold text-lg md:text-xl;
  }

  h6 {
    @apply font-bold text-base;
  }
}

@layer utilities {
  .md-container {
    @apply max-w-none h-full overflow-y-auto p-4 bg-white dark:bg-background dark:text-foreground text-black;
  }

  .md-container h1,
  .md-container h2,
  .md-container h3,
  .md-container h4,
  .md-container h5,
  .md-container h6 {
    @apply text-wrap break-words h-auto text-gray-900 font-bold mb-[1.5rem];
  }

  .md-container p {
    @apply text-wrap break-words h-auto text-base leading-relaxed mb-[0.3rem];
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #525252;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #525252;
  --muted: #f7f7f7;
  --muted-foreground: #999999;
  --accent: #f7f7f7;
  --accent-foreground: #525252;
  --destructive: #d33c3c;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b3b3b3;
  --chart-1: #d97600;
  --chart-2: #4a90e2;
  --chart-3: #5c6bc0;
  --chart-4: #ffcc00;
  --chart-5: #f57c00;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #525252;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #525252;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b3b3b3;
}

.dark {
  --background: #252525;
  --foreground: #fbfbfb;
  --card: #343434;
  --card-foreground: #fbfbfb;
  --popover: #343434;
  --popover-foreground: #fbfbfb;
  --primary: #ebebeb;
  --primary-foreground: #343434;
  --secondary: #454545;
  --secondary-foreground: #fbfbfb;
  --muted: #454545;
  --muted-foreground: #b3b3b3;
  --accent: #454545;
  --accent-foreground: #fbfbfb;
  --destructive: #ff4d4d;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #999999;
  --chart-1: #607d8b;
  --chart-2: #00bcd4;
  --chart-3: #f57c00;
  --chart-4: #ab47bc;
  --chart-5: #ffa726;
  --sidebar: #343434;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #607d8b;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #999999;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
